BODY {
    font-family: Trebuchet MS;
    margin:20px;
    background-color: #9f0f9c;
  }
  
  H1 {
    text-align: center;
    color: #FFFFFF;
  }
  
  .myTimetable {
    width:100%;
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  .myTimetable THEAD{
    color: #FFFFFF;
  }
  
  .myTimetable TBODY {
    background-color: #54e6f3;
  }
  
  .myTimetable TD {
    border: 1px solid black;
    padding: 6px;
    text-align: center;
  }
  .myTimetable TBODY TR TD:first-child {
    background-color: chartreuse;
    font-weight: bold;
  }
  
  .break{
    background-color: #d9ff00 !important;
    font-style: italic;
  }
  .theory{
    background-color:blanchedalmond!important;
    font-size: 12pt;
    margin-bottom:4px;
  }
  
  .subject {
    font-size: 12pt;
    margin-bottom:4px;
  }
  
  .room {
    font-size: 10pt;
    font-style: italic;
  }
  